/** {
	border: 1px dashed red;
	min-height: 10px;
}*/


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  height: 100px;
}

.head-footer {
  background-color: rgb(236, 236, 236);
}